ul {
    margin: 0em 0em 0em 5em;
    font-family:'Courier New', Courier, monospace;
    font-size: 1.75em;
}

li {
    margin: 0.5em;
}

a {
    text-decoration: none;
    padding: 0.25em 0.5em 0.25em 1em;
    border-radius: 0.5em;
}

a:hover {
    background-color: rgba(0, 0, 0, 0.35);
    color: white;
}