/*
*   style.css
*   author: Brandon Jenkins
*   date: 11/25/2022
*
*   This file serves as the main stylesheet for the Employee Registration System app
*/

body {
    background: aliceblue;
}

/* "Card" is the main box in which content is displayed */
#card {
    background: #ededed77;
    margin: 4rem 20rem;
    padding: 0 2rem 1.5rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.267);
    border-radius: 1.4rem;
    box-shadow: rgba(0, 0, 0, 0.594) 0.15rem -0.5rem 1rem;
}

/* Change between display modes for single-page application */
#form, #employeeDetails, #employeeList, #footForm, #footHome, #footList {
    display: none;
}

/*
* Two div containers "container" and "wrapper" : 
*/
.container {
    margin-top: 4em;
}

.wrapper {
    display: flex;
    justify-content: center;
    margin: 1em 1em 0;
}

/*
* General
*/
h1 {
    text-align: center;
    margin: 4rem 8rem;
    font-family: "Arial Narrow";
    font-variant: all-petite-caps;
    font-size: 3em;
    font-weight: 400;
}

h2 {
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
}

li {
    padding: 0 2em;
    font-size: 1.5em;
}

/* The two links in "index" div */
#indexLinks {
    display: flex;
    justify-content: center;
    margin-top: 8rem;
}

/* 
* The two buttons in "index" div residing in "indexLinks" 
*/
.indexButton {
    width: 20rem;
    text-align: center;
    margin: 0 4rem 4rem;
    padding: 5rem 0;
    font-size: 2.2rem;
    font-family: "Arial Narrow";
    font-variant: all-petite-caps;
    line-height: 2em;
    color: black;
    text-decoration: none;
    border: 0.1rem solid black;
    border-radius: 1.4rem;
    background-color: white;
}

.indexButton:hover, .footLink:hover {
    background-color: rgb(255, 242, 254);
}

button:hover {
    cursor: pointer;
}

#emoji {
    font-size: 3em;
}


/*
* employeeList div 
*/
#employeeList {
    font-family:'Courier New', Courier, monospace;
    font-size: 1.2em;
}

#employeeList a {
    text-decoration: none;
    background-color: white;
    padding: 0.25em 0.5em;
    border-radius: 0.5em;
}

#employeeList a:hover {
    background-color: rgba(0, 0, 0, 0.35);
    color: white;
}

#list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

#list li {
    display: block;
    margin: 0.5em 0;
    list-style-type: none;
}

#list li:hover {
    cursor: pointer;
}


/*
* employeeForm div
*/
label {
    font-family: "Arial";
    font-size: 1.5em;
    font-variant: all-petite-caps;
}

input, option {
    font-size: 1.2em;
    padding: 0.2em;
}

input, select {
    width: 8em;
    margin: 0 2.5em 0 0.5em;
}

input:invalid {
    background-color: rgba(221,147,148,0.2);
}

#submit {
    margin-top: 1em;
}

#submit:hover {
    cursor: pointer;
}

#streetForm, #emailForm {
    width: 16em;
}

#hireDateForm, #dobForm {
    min-width: 6em;
}


/* 
* employeeDetails div 
*/
#employeeDetails li {
    list-style-type: none;
    font-family: "Arial";
    font-size: 1.5em;
    font-variant: all-petite-caps;
}

#employeeDetails span {
    background: white;
    border: 0.05em solid gray;
    padding: 0.25em 0.5em;
    border-radius: 0.5em;
    font-family:"Arial";
    font-variant: none;
    font-size: 0.85em;
}


/* 
* Footer redirect links 
*/
#footHome, #footForm, #footList {
    font-family: "Arial Narrow";
    font-variant: all-petite-caps;
    text-decoration: none;
    letter-spacing: 0.05em;
    border: 0.1rem solid black;
    border-radius: .5em;
    background-color: white;
    font-size: 1.5em;
    margin: 0 4em;
    padding: 0.25em 0.5em;
}

#footHome:hover, #footForm:hover, #footList:hover {
    background-color: rgba(0, 0, 0, 0.35);
    color: white;
}